.ctl {
  position: relative;
  opacity: 0.9;
  text-align: center;
  z-index: 0; }
  .ctl img {
    margin: 80px auto;
    width: 200px;
    position: relative;
    z-index: 3; }
  .ctl.gyo {
    position: relative;
    z-index: 1;
    background-color: #76B3BE; }
    .ctl.gyo .gyo_text {
      width: 300px; }
  .ctl.sukuu {
    position: relative;
    z-index: -1;
    background-color: #DD926A; }
    .ctl.sukuu img {
      position: relative;
      z-index: 3; }
      .ctl.sukuu img.sukuu_fish {
        position: absolute;
        z-index: 4;
        right: -100px;
        top: 0px;
        width: 30%;
        display: none; }
        .ctl.sukuu img.sukuu_fish.swim {
          -webkit-animation: sukuu_swim 1s infinite linear;
                  animation: sukuu_swim 1s infinite linear; }

.fish:nth-child(1) {
  position: absolute;
  width: 90px;
  height: 50px;
  z-index: 3;
  top: 0px;
  left: 0px;
  opacity: 0.3;
  background: url('../image/gold_fish.png') no-repeat;
  background-size: 90px 50px;
  -webkit-animation: shake 5s infinite linear;
          animation: shake 5s infinite linear; }

.fish:nth-child(2) {
  position: absolute;
  width: 90px;
  height: 50px;
  z-index: 3;
  top: 10px;
  left: 0px;
  opacity: 0.3;
  background: url('../image/gold_fish.png') no-repeat;
  background-size: 90px 50px;
  -webkit-animation: shake 5s infinite linear;
          animation: shake 5s infinite linear; }

.fish:nth-child(3) {
  position: absolute;
  width: 90px;
  height: 50px;
  z-index: 3;
  top: 10px;
  left: 120px;
  opacity: 0.3;
  background: url('../image/gold_fish.png') no-repeat;
  background-size: 90px 50px;
  -webkit-animation: shake 5s infinite linear;
          animation: shake 5s infinite linear; }

.fish:nth-child(4) {
  position: absolute;
  width: 90px;
  height: 50px;
  z-index: 3;
  top: 10px;
  left: 220px;
  opacity: 0.3;
  background: url('../image/gold_fish.png') no-repeat;
  background-size: 90px 50px;
  -webkit-animation: shake 5s infinite linear;
          animation: shake 5s infinite linear; }

.fish:nth-child(5) {
  position: absolute;
  width: 90px;
  height: 50px;
  z-index: 3;
  top: 150px;
  left: 80px;
  opacity: 0.3;
  background: url('../image/gold_fish.png') no-repeat;
  background-size: 90px 50px;
  -webkit-animation: shake 5s infinite linear;
          animation: shake 5s infinite linear; }

.fish:nth-child(6) {
  position: absolute;
  width: 90px;
  height: 50px;
  z-index: 3;
  top: 150px;
  left: 180px;
  opacity: 0.3;
  background: url('../image/gold_fish.png') no-repeat;
  background-size: 90px 50px;
  -webkit-animation: shake 5s infinite linear;
          animation: shake 5s infinite linear; }

.fish:nth-child(7) {
  position: absolute;
  width: 90px;
  height: 50px;
  z-index: 3;
  top: 230px;
  left: 0px;
  opacity: 0.3;
  background: url('../image/gold_fish.png') no-repeat;
  background-size: 90px 50px;
  -webkit-animation: shake 5s infinite linear;
          animation: shake 5s infinite linear; }

.fish:nth-child(8) {
  position: absolute;
  width: 90px;
  height: 50px;
  z-index: 3;
  top: 230px;
  left: 120px;
  opacity: 0.3;
  background: url('../image/gold_fish.png') no-repeat;
  background-size: 90px 50px;
  -webkit-animation: shake 5s infinite linear;
          animation: shake 5s infinite linear; }

.fish:nth-child(9) {
  position: absolute;
  width: 90px;
  height: 50px;
  z-index: 3;
  top: 230px;
  left: 220px;
  opacity: 0.3;
  background: url('../image/gold_fish.png') no-repeat;
  background-size: 90px 50px;
  -webkit-animation: shake 5s infinite linear;
          animation: shake 5s infinite linear; }

.fish:nth-child(10) {
  position: absolute;
  width: 90px;
  height: 50px;
  z-index: 3;
  top: 380px;
  left: 80px;
  opacity: 0.3;
  background: url('../image/gold_fish.png') no-repeat;
  background-size: 90px 50px;
  -webkit-animation: shake 5s infinite linear;
          animation: shake 5s infinite linear; }

.fish:nth-child(11) {
  position: absolute;
  width: 90px;
  height: 50px;
  z-index: 3;
  top: 380px;
  left: 180px;
  opacity: 0.3;
  background: url('../image/gold_fish.png') no-repeat;
  background-size: 90px 50px;
  -webkit-animation: shake 5s infinite linear;
          animation: shake 5s infinite linear; }
