.ctl {
  position: relative;
  opacity: 0.9;
  text-align: center;
  z-index: 0; }
  .ctl img {
    margin: 80px auto;
    width: 200px;
    position: relative;
    z-index: 3; }
  .ctl.gyo {
    background-color: #76B3BE; }
    .ctl.gyo .gyo_text {
      width: 300px; }
  .ctl.sukuu {
    position: relative;
    z-index: -1;
    background-color: #DD926A; }
    .ctl.sukuu img {
      position: relative;
      z-index: 3; }

.fish_1 {
  position: absolute;
  width: 30px;
  height: 18.9px;
  background-color: red;
  z-index: 1;
  top: 30px;
  left: 20px;
  opacity: 0.3;
  background: url('../image/gold_fish.png') no-repeat;
  -webkit-animation: shake 5s infinite linear;
          animation: shake 5s infinite linear; }

.fish_2 {
  position: absolute;
  width: 30px;
  height: 18.9px;
  background-color: red;
  z-index: 1;
  top: 10px;
  left: 40px;
  opacity: 0.3;
  background: url('../image/gold_fish.png') no-repeat;
  -webkit-animation: shake 5s infinite linear;
          animation: shake 5s infinite linear; }

.fish_3 {
  position: absolute;
  width: 30px;
  height: 18.9px;
  background-color: red;
  z-index: 1;
  top: 3px;
  left: 80px;
  opacity: 0.3;
  background: url('../image/gold_fish.png') no-repeat;
  -webkit-animation: shake 5s infinite linear;
          animation: shake 5s infinite linear; }

.fish_4 {
  position: absolute;
  width: 30px;
  height: 18.9px;
  background-color: red;
  z-index: 1;
  top: 50px;
  left: 20px;
  opacity: 0.3;
  background: url('../image/gold_fish.png') no-repeat;
  -webkit-animation: shake 5s infinite linear;
          animation: shake 5s infinite linear; }

.fish_5 {
  position: absolute;
  width: 30px;
  height: 18.9px;
  background-color: red;
  z-index: 1;
  top: 50px;
  left: 60px;
  opacity: 0.3;
  background: url('../image/gold_fish.png') no-repeat;
  -webkit-animation: shake 5s infinite linear;
          animation: shake 5s infinite linear; }

.fish_6 {
  position: absolute;
  width: 30px;
  height: 18.9px;
  background-color: red;
  z-index: 1;
  top: 80px;
  left: 0px;
  opacity: 0.3;
  background: url('../image/gold_fish.png') no-repeat;
  -webkit-animation: shake 5s infinite linear;
          animation: shake 5s infinite linear; }

.fish_7 {
  position: absolute;
  width: 30px;
  height: 18.9px;
  background-color: red;
  z-index: 1;
  top: 80px;
  left: 40px;
  opacity: 0.3;
  background: url('../image/gold_fish.png') no-repeat;
  -webkit-animation: shake 5s infinite linear;
          animation: shake 5s infinite linear; }

.fish_8 {
  position: absolute;
  width: 30px;
  height: 18.9px;
  background-color: red;
  z-index: 1;
  top: 80px;
  left: 80px;
  opacity: 0.3;
  background: url('../image/gold_fish.png') no-repeat;
  -webkit-animation: shake 5s infinite linear;
          animation: shake 5s infinite linear; }

.fish_9 {
  position: absolute;
  width: 30px;
  height: 18.9px;
  background-color: red;
  z-index: 1;
  top: 110px;
  left: 20px;
  opacity: 0.3;
  background: url('../image/gold_fish.png') no-repeat;
  -webkit-animation: shake 5s infinite linear;
          animation: shake 5s infinite linear; }

.fish_10 {
  position: absolute;
  width: 30px;
  height: 18.9px;
  background-color: red;
  z-index: 1;
  top: 110px;
  left: 60px;
  opacity: 0.3;
  background: url('../image/gold_fish.png') no-repeat;
  -webkit-animation: shake 5s infinite linear;
          animation: shake 5s infinite linear; }
