//メインボタン
.ctl{
	position: relative;
	height: 100%;
	opacity: 0.9;
	text-align: center;
	z-index: 0;

	img{
		margin: 200px auto;
		width: 1000px;
		position: relative;
		z-index: 3;
	}

	&.gyo{
		background-color:#76B3BE;
	}

	&.sukuu{
		background-color:#DD926A;
	}
}

@mixin gold_fish(){
	position: absolute;
	width: 300px;
	height: 189px;
	background-color: red;
	z-index: 1;
	top: 30px;
	opacity: 0.5;
	background: url('../image/gold_fish.png') no-repeat;
	animation: shake 5s infinite linear;	
}

.fish{
	@include gold_fish();
}

/*水槽*/
.suisou{
	position: absolute;
	top: 0;
	background-color: black;
	height: 100%;
	width:100%;
	z-index: -1;
	margin: 10px 10px 10px 10px;

	img{
		width: 100px;
		animation: shake 5s infinite linear;
		animation: swim 5s infinite linear;
		transform: scaleX(-1);
	}
}
