.suisou{
	background: url('../image/swim_bg.png') no-repeat;
	background-size: 320px 500px;
	width: 320px;
	height: 450px;

	.location{
		position: absolute;
		top: 20px;
		left: 20px;
		height: 50px;
		width: 280px;
		text-align: center;
		padding: 20px auto;
		font-size: 30px;
	}

	.mizu{
		position: absolute;
		top: 100px;
		left: 10px;
		height: 300px;
		width: 310px;

		.poi{
			display: none;
			// img{
			// 	width: 50%;
			// }
		}
	}

	.back{
		position: fixed;
		bottom: 5px;
		left: 1px;
		height: 50px;
		width: 316px;
		background-color: #005163;
		text-align: center;
		font-size: 35px;
		color: white;
	}
}

@mixin fish_swim($top, $left){
	background: url('../image/swim_gold_fish_dust.gif') no-repeat;
	$w: 50%;
	$h: 30%;
	position: absolute;
	top: $top;
	left: $left;
	// $w: 204px;
	// $h: 106px;
	// $w: $w - 100px;
	// $h: $h - 100px;
	background-size: $w $h;
	width: $w;
	height: $h;
	animation: swim 5s infinite linear;
}

$tops: 30px, 10px, 3px,   50px, 50px, 80px, 80px, 80px, 110px, 110px, 220px, 220px, 220px, 150px, 150px, 150px, 200px, 30px, 10px, 3px,   50px, 50px, 80px, 80px, 80px, 110px, 110px, 220px, 220px, 220px, 150px, 150px, 150px, 200px;
$lefts: 20px,  40px, 80px, 20px, 60px, 0px, 40px, 80px, 20px,     60px, 20px , 40px, 60px, 80px, 100px,        200px , 150px, 20px,  40px, 80px, 20px, 60px, 0px, 40px, 80px, 20px,     60px, 20px , 40px, 60px, 80px, 100px,        200px , 150px;
$count: 34;
@for $i from 1 through $count {
	.fish_swim:nth-child(#{$i}) {
		@include fish_swim(nth($tops, $i), nth($lefts, $i));
		&:nth-child(even){
			animation: shake 5s infinite linear;
		}
	}
}